---
const {label, href} = Astro.props
---
<a
  href={href}
  class="relative font-medium text-lg px-8 py-4 bg-primary-500/10 text-primary-500 rounded-lg hover:border-primary-500 hover:shadow-primary-500/20 hover:shadow-xl transition-all"
>
  {label}
</a>
