---
// index.astro - Main page
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.astro';
import Hero from '../components/Hero.astro';
import Experience from '../components/Experience.astro';
import TechStack from '../components/TechStack.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
---

<Layout>
  <Navigation />
  <main>
    <Hero />
    <Experience />
    <TechStack />
    <Contact />
  </main>
  <Footer />
</Layout>
